.header {
  /* margin-bottom: 40px; */
  position: sticky;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.nav {
  width: auto;
  max-width: none;
  max-height: none;
  padding: 0px;
  display: block;
  position: unset;
  flex-direction: column;
  top: calc(100% + 24px);
  right: calc(0% + var(--mobile-hor-padding));
  z-index: 1;
}

.navIcons {
  /* width: auto; */
  /* max-width: none; */
  /* max-height: none; */
  padding: 0px;
  display: flex;
  /* position: unset; */
  flex-direction: row; 
  top: calc(100% + 24px);
  right: calc(0% + var(--mobile-hor-padding));
  z-index: 1;
}

.item {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 32px;
  color: var(--text-color-normal);

}

.item:hover {
  color: var(--text-color-hover);
}

.item:not(:last-child) {
  margin-right: 42px;
}
.item:not(:last-child) {
  margin-right: 42px;
}


.headerIcons {
  margin-left: 24px;
}

